<!DOCTYPE HTML>
<html>
    <head>
        <!-- the header and general info for artist -->
        <title>Artist Show Page</title>
        <h1> <%= @artist.name %> </h1>
    </head>

    <body>
        <h2><%= @artist.years_exp %> Years of Experience</h2>

        <h2>Clients:</h2>

        <!-- outputting the number of clients -->
        <% if @artist.clients.length == 0 %>
        <h3><%= "No Clients." %></h3>
        <% else %>
            <ul>
                <% @artist.clients.each do |client| %>
                    <li><%= client.username %></li>
                <%end%>
            </ul>
        <%end%>

        <!-- outputting the average rating -->
        <h2>Average Rating for This Artist:</h2>
        <% @artist.reviews.each do |review| %>
            <% @stars += review.stars %>
            <% @sum += 1 %>
        <% end %>

        <% if @sum != 0 %>
        <h3><%= @stars / @sum %> Star(s)</h3>
        <% else %>
        <h3><%= "No Reviews." %></h3>
        <%end%>


        <!-- link to creating a review for this artist -->
        <h5><%= link_to "Create a Review for This Artist", new_review_path%></h5>

        <!-- create a new review -->
        <%= form_for @review do |f| %>
            <%= f.label :stars, "How many stars?" %>
            <%= f.select :stars, (1..5) %>
            <%= f.label :desc, "Write your Review:" %>
            <%= f.text_field :desc %>

            <%= f.hidden_field(:artist_id, :value => @artist.id) %>

            <!-- <%= f.collection_select(:artist_id, Artist.all, :id, :name, {:prompt => 'Choose an Artist'}) %> -->
            <%= f.collection_select(:client_id, Client.all, :id, :username, {:prompt => 'Choose a Client'}) %>

            <%= f.submit "Submit Review" %>
        <% end %>



    </body>

</html>