<!DOCTYPE HTML>
<html>
    <head>
        <title>New Review</title>
        <h1>Write a New Review</h1>
    </head>

    <body>
        <%= form_for @review do |f| %>
            <%= f.label :stars, "How many stars?" %>
            <%= f.select :stars, (1..5) %>
            <%= f.label :desc, "Write your Review:" %>
            <%= f.text_field :desc %>

            <%= f.collection_select(:artist_id, Artist.all, :id, :name, {:prompt => 'Choose an Artist'}) %>
            <%= f.collection_select(:client_id, Client.all, :id, :username, {:prompt => 'Choose a Client'}) %>

            <%= f.submit "Submit Review" %>
        <% end %>
        
    </body>
</html>